@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background: #f7fafc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

}
h1,h2{
  text-align: center;
  font-weight: 100;
}
.btn{
 padding: 5px;
 margin: 5px;
 width:19em;
 height: 4em;
 outline: none;
 border:none;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 1s
}
.btn_add{
  background: rgba(43, 156, 77, 0.215)
}
.btn_add:hover{
  background: rgba(43, 156, 77, 0.426)
}
.btn_delete{
  width: 10em;
  background: rgba(238, 55, 104, 0.726)
}
.btn_delete:hover{
  background: #EE3769
}
.btn_submit{
  background: #41baeaab;
  width: 10em;
}
.btn_submit:hover{
  background: #41baea
}
.checkbox{
  width:4em;
  height: 2em;
}
input{
background: none;
outline:none;
margin: 5px;
border-radius: .25em;
padding: 5px;
border: solid 0.5px grey;
}
input:focus,
input:active{
  border:none;
  border-bottom: solid #2c3e50;
  transition: 1s;
}
select {

  outline: 0;
  box-shadow: none;
  border: 0 ;
  background: #0534635e;
  width:10em;
  height: 3.5em;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
  margin: 2px;
  color: black;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.select::after {

  padding: 0 1em;
  background: #34495e9d;
  pointer-events: none;
}

.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
.select option{
  position: relative;
  display: block;
  padding: 0 22px;
  color: black;
}
.input{
  border: solid 0.5px grey;
  padding: 1%
}